# Archivos de sistema
.DS_Store
Thumbs.db

# Entornos virtuales de Python
venv/
env/
.venv/

# Archivos temporales y de caché
__pycache__/
*.py[cod]
*$py.class
.ipynb_checkpoints/

# Variables de entorno y secretos
.env
*.pem

# Datos crudos muy grandes (se mantiene la referencia, no el archivo pesado)
data/raw/*.csv
data/raw/*.xlsx
